<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pt.isec.a2017012017.amov_tp_reversi_grupo35">

    <uses-feature android:name="android.hardware.camera"
        android:required="false" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/reversi"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AMov_TP_Reversi_Grupo35">
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".EsqueceuPassActivity"
            android:exported="false"
            android:parentActivityName=".LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginActivity" />
        </activity>
        <activity
            android:name=".GameActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".RulesActivity"
            android:exported="false"
            android:parentActivityName=".GameActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".GameActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false">

        </activity>
        <activity
            android:name=".PerfilActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".AboutActivity"
            android:exported="false">
        </activity>
    </application>

</manifest>